:root{
    --heading-family: 'Comfortaa', cursive;
    --heading-spacing: 1.7px;
    --main-spacing: 0.23px;
    --main-family: 'Roboto Serif', serif;
}
$xs-screen:320px;
$s-screen: 496px;
$m-screen: 768px;
$l-screen: 960px;
$xl-screen: 1300px;
@mixin define-grid($name){
    .#{$name}{
        display:grid;
        grid-template-columns: 2fr 2fr 5fr;
        align-items: center;
        padding-bottom:20px;
        padding-top:20px;
        transition: 0.3s ease-in;
        div:not(:last-child){
            padding:0 3px;
        }
    }
}
@mixin wavy-svg($name){
    .#{$name}{
        display: flex;
        justify-content: center;
        svg:first-of-type{
            height: 60px;
            width: 180px;
            position: relative;
            top: 0px;
            stroke-dasharray: 1;
            stroke-dashoffset: 1;
        }
        svg:last-of-type{
            height: 60px;
            width: 180px;
            position: relative;
            top: 0px;
            stroke-dasharray: 1;
            stroke-dashoffset: 1;
            
        }
        h3{
            font-size: 40px;
            font-weight: 300;
            padding-right:10px;
        }
    }
}
@property --angle {
    initial-value: 0deg;
    inherits: false;
    syntax: '<angle>';
}
  
@property --percentage {
    initial-value: 0%;
    inherits: false;
    syntax: '<percentage>';
}
  
body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}
body {
  font-family: var(--main-family);
  letter-spacing: var(--main-spacing);
}
.heading {
    font-family:var(--heading-family);
    letter-spacing: var(--heading-spacing);
}
section:not(.first-section){
    padding: 7% 8%;
}
a, button{
    text-transform: uppercase;
}
h3{
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}
.link-icon.linkedin-icon{
    background-color: #0289e4;
    border-radius: 6px;
    padding: 3px;
    width: 36px;
    height: 36px;
    display:flex;
    position: relative;
    transition: 5s ease-in;
    svg {
        fill:#fff;
    }
    &:before{
        content:'';
        display:inline-block;
        width:40px;
        height:40px;
        border-radius: 8px;
        position:absolute;
        z-index: -1;
        top:-2px;
        left:-2px;
        background-color: transparent;
    }
    &:hover::before{
        background: linear-gradient(var(--angle), rgba(250,217,55,1) 0%, rgba(22,52,62,1) var(--percentage));
        animation: around-animation ease-out 3s;
    }
}
.link-icon.github-icon{
    width: 42px;
    height: 42px;
    display:flex;
    position: relative;
    transition: 5s ease-in;
    &:before{
        content:'';
        display:inline-block;
        width:40px;
        height:40px;
        border-radius: 50%;
        position:absolute;
        z-index: -1;
        top:1px;
        left:1px;
        background-color: transparent;
    }
    &:hover::before{
        background: linear-gradient(var(--angle), rgba(250,217,55,1) 0%, rgba(22,52,62,1) var(--percentage));
        animation: around-animation ease-out 3s;
    }
}
.mail{
    background: linear-gradient(90deg, #0289e4 0%, #0289e4 30%, rgba(250,217,55,1) 60%, rgba(250,217,55,1) 100%);
}
.mail2{
    background: linear-gradient(90deg, rgba(250,217,55,1) 0%, rgba(250,217,55,1) 30%, #0289e4 60%, #0289e4 100%);

}
.mail, .mail2{
    text-transform: lowercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% auto;
    background-position: 100% 50%;
    &:hover{
        animation: color-change ease-in-out 1s forwards;
    }
}

//first section
.first-section{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    color:#fff;
    position:relative;
    .img-container{
        box-sizing: border-box;
        width:40%;
        height: 110%;
        display: flex;
        justify-content: center;
        position:absolute;
        top:0;
        left:0;
        border: solid 8px #16343E;
        border-top: none;
        border-left: none;
        padding: 200px 80px 200px 12%;
        background: #fff;
        img{
            width: 350px;
            height: 525px;
            object-fit: cover;
            object-position: center;
            background-color: #fff;
            background: transparent;
            box-shadow: -44px -44px 0 -36px #fff, 0 0 0 8px #16343E,-80px -80px 0 2px  #16343E, -80px -80px 15px -2px #fff, ;
            animation: appear2 ease 0.8s;
        }
    }
    .main-info{
        height: 600px;
        display:flex;
        margin-left:calc(40% - 8px);
        padding: 7% 8% 3% 5%;
        background-color: #16343E;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        .person{
            display: inline-block;
            position: relative;
            .person-left-column{
                float: left;
                display:flex;
                flex-direction: column;
                gap: 5px;
                width: 70%;
                h1{
                    font-size: 30px;
                    margin: 0;
                    padding: 0;
                }
            }
            .person-right-column{
                width: calc(30% - 10px);
                margin-left: 10px;
                float: right;
                position: relative;
                z-index: 1;
                display:flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
                right: -25px;
                top: 0;
                gap:8px;
                .media{
                    display:flex;
                    gap:8px;
                    align-items: flex-end;
                }

            }

        }
        .project-container{
            padding: 20px; 
            position:relative;
            border-top: #fff solid 6px;
            .heading{
                margin-bottom:10px;
                font-size:20px;
                text-transform: uppercase;
            }
            .projects-list{
                animation: appear ease 0.8s;

                list-style: none;
                
                li {
                    margin-top: 10px;
                    padding:5px;
                    .project-title{
                        padding: 3px;
                        font-weight: 500;
                    }
                    small{
                        font-style: italic;
                        margin-top: 5px;
                        display:inline-block;
                        margin-left: 40px;
                        font-weight: 100;
                        color: #A6ADB0;
                    }
                    .links {
                        margin-top:5px;
                        margin-left: 20px;
                        display:block;
                        position: relative;
                        a{
                            &:first-child{
                            color: #E0BC09;
                            text-decoration: none;
                            margin-right: 20px;
                            transition: color 0.3s ease-in-out;
                            position: relative;
                            &:before{
                                content:'';
                                width: 0;
                                position:absolute;
                                bottom:-2px;
                                display:inline-block;
                                height: 1px;
                                background-color: #fad937;
                                transition: width 0s linear 0.2s;
                               
                            }
                                &:hover{
                                    color: #fad937;
                                    &:before{
                                        animation: line 0.3s linear forwards;
                                        @keyframes line{
                                            from{
                                                width: 0;
                                            } 
                                            to {
                                              width:  100%;
                                            }
                                        }
                                    }
                                }
                            }
                            &:last-child{
                                color: #1878B9;
                                text-decoration: none;
                                position: relative;
                                &:before{
                                    content:'';
                                    width: 0px;
                                    position:absolute;
                                    bottom:-2px;
                                    display:inline-block;
                                    height: 1px;
                                    background-color:#0289e4;
                                    transition: width 0s linear 0.2s;
                                }
                                &:hover{
                                    color:#0289e4;
                                    &:before{
                                        animation: line 0.3s linear forwards;
                                        @keyframes line{
                                            from{
                                                width: 0;
                                            } 
                                            to {
                                              width:  100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:first-child{
                        margin-top:0;
                    }
                }
            }
        }
    }
}
.education-section{
    margin-top:40px;
    padding-bottom:0;
    color:#16343E;
    @include wavy-svg('h3-wrapper');
    .education-main{
        margin: 50px;
        padding: 30px 50px;
        border-top: #16343E solid 1px;
        border-bottom: #16343E solid 1px;
        @include define-grid('one-education');
        .one-education{
            &:hover{
                background-color: rgb(226, 226, 226);
            }
            &:not(:last-child){
                border-bottom: #16343E solid 1px;
            }
            .education-years{
                font-style: italic;
            }
            .qualification{
                letter-spacing: 2px;
                color: #16343E;
            }
        }
    }
}
.work-section{
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #2e6e84;
    color:#fff;
    @include wavy-svg('h3-wrapper');
    .work-main{
        margin: 50px;
        padding: 30px 50px;
        border-top: #fff solid 1px;
        border-bottom: #fff solid 1px;
        @include define-grid('one-work');
        .one-work{
            grid-template-columns: 2fr 5fr;
            .work-years-position{
                .work-years{
                    font-style: italic;
                }
                .work-position{
                    letter-spacing: 2px;
                }
            }
            .place-responsibilities{
                .work-place{
                    margin-bottom: 15px;
                    padding: 6px;
                    text-transform: uppercase;
                    border-bottom: #fff 1px solid;
                    width: fit-content;
                }
                .work-responsibilities{
                    list-style: none;
                    list-style-position: inside;
                    li{
                        .hexagon{
                            width:16px;
                            height:16px;
                        }
                        &:not(:last-child){
                            margin-bottom:5px;
                        }
                    }
                }
            }
        }
    }
}
footer{
    padding: 2% 8%;
    background-color: #16343E;
    color: #fff;
    .footer-header{
        text-transform: uppercase;
        font-size: 25px;
        margin-bottom: 10px;
    }
    .contacts{
        display:flex;
        gap:30px;
        align-items: center;
        position: relative;
        z-index: 1;
    }
    .pdf-wrapper{
        padding: 7px;
        border-radius: 20%;
        background: #16343E;
        position:fixed;
        right: 20px;
        bottom:20px;
        box-shadow: 3px 3px 7px 0 rgba(51, 51, 51, 0.477);
        transition: ease 1s;
        .pdf-svg{
            height:50px;
            width: 50px;
        }
        &:hover{
            animation: bounce2x ease 1s;
        }
    }
}
@media (max-width: $xl-screen) {
    body{
        font-size: 0.9em;
    }
    section:not(.first-section){
        padding: 6% 4% 4% 4%;
    }
    .first-section{
        .img-container{
            height: 100%;
            padding: 0 0 0 5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 250px;
                height: 375px;
            }
        }
        .main-info{
            padding: 4% 4% 2% 3%;
        }
    }
}
@media (max-width: $l-screen) {
    section:not(.first-section){
        padding:8% 7%;
    }
    .first-section{
        .img-container{
            width:100%;
            height:400px;
            border: none;
            box-sizing: content-box;
            padding-top: 80px;
            padding-left: 0;
            img{
                height:300px;
                width: 200px;
            }
        }
        .main-info{
            margin-right: 0;
            margin-top:480px;
            margin-left:0;
            padding:8% 7%;
            .person{
                .person-right-column{
                    right: 0;
                }
            }
            .project-container{
                padding: 10px; 
                &:before{
                    display:none;
                }
                &:after{
                    display:none;
                }
            }
        }
    }
    .education-section{
        margin-top: 0px;
        .education-main{
            margin:20px 0 40px;
            padding: 10px;
            border-top:2px solid #16343E;
            border-bottom:2px solid #16343E;
            .one-education{
                padding: 10px 0;
            }
        }
    }
    .work-section{
        .work-main{
            margin:20px 0 40px;
            padding: 10px;
            border-top:2px solid #fff;
            border-bottom:2px solid #fff;
            .one-work{
                padding: 10px 20px;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 5fr;
                .work-years-position{
                    display:flex;
                    column-gap: 10px;
                    justify-content: center;
                    .work-position{
                        font-weight: 500;
                    }
                }
                .place-responsibilities{
                    .work-place{
                        border: none;
                        width:100%;
                        text-align: center;
                    }
                }
                &:not(:last-of-type){
                    border-bottom: #fff solid 1px;
                }
            }
        }
    }
    footer{
        .pdf-wrapper{
            right: 5px;
            bottom: 5px;
            padding: 4px;
            .pdf-svg{
                height:40px;
                width: 40px;
            }
        }
    }
}
@media(max-width: $m-screen){
    section:not(.first-section), footer{
        padding: 40px 3%;
    }
    .first-section{
        position:relative;
        .img-container{
            height:200px;
            position: absolute;
            bottom: 65%;
            right:12%;
            &:before{
                display:none
            }
            img{
                width:calc(90px * 1.2);
                height: calc(120px * 1.2);
                z-index: 2;
                padding: 0;
            }
        }
        .main-info{
            gap: 60px;
            height: fit-content;
            margin-top: calc(300px);
            width:fit-content;
            padding: 40px 3%;
            .person {
                position:relative;
                .person-right-column{
                position:static;
                width:fit-content;
                float: left;
                margin: 10px 0 0 0;
                .media{
                    position:absolute;
                    top:0;
                    right:0;
                }
                }
            }
        }
    }
    footer{
        display: inline-block;
        width: 100%;
        .contacts{
            width: 70%;
            float: left;
        }
        .pdf-wrapper{
            position: relative;
            float: right;
            padding: 4px;
            .pdf-svg{
                height:50px;
                width: 50px;
            }
        }
    }
}

@media(max-width: $s-screen){
    body{
        font-size: 0.8em;
    }
    .first-section{

        .main-info{
            gap:40px;
            .project-container{
                .projects-list li small{
                    margin-left:0;
                }
            }
        }
    }
    .work-section .work-main .one-work{
        padding: 10px 0;
    }
    footer{
        .contacts{
            width: 60%;
            flex-wrap: wrap;
            gap:10px;
        }
    }
}


@keyframes around-animation {
    33%{
        --angle:180deg;
        --percentage:200%
    }
    100%{
        --angle:520deg;
        --percentage:0%
    }
}
@keyframes color-change {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes dash {
    from {
      stroke-dashoffset: 1;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
@keyframes dash2 {
    from {
      stroke-dashoffset: 1;
    }
    to {
      stroke-dashoffset: 2;
    }
  }
@keyframes bounce2x{
    25%{
        transform: scale(1.1)
    }
    50% {
        transform: scale(0.95);
    }
    75%{
        transform: scale(1.1)
    }
    100%{
        transform: scale(1);
    }
}

@keyframes appear{
    from{
        margin-bottom: 50px;
        opacity: 0.6;
        overflow: hidden;
    }
    to{
        margin-bottom: 0;
        opacity: 1;

    }
}
@keyframes appear2{
    from{
        // opacity: 0.6;
        box-shadow: -44px -44px 0 -40px #fff, 0 0 0 0px hsl(194, 48%, 16%), -40px -40px 0 2px  #16343E, -80px -80px 15px -2px #fff, ;

    }
    to{
        box-shadow: -44px -44px 0 -36px #fff, 0 0 0 8px #16343E,-80px -80px 0 2px  #16343E, -80px -80px 15px -2px #fff, ;
        // opacity: 1;

    }
}
